<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      class="modal fade mt-50"
      th:fragment="modal"
      id="createProductoModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createProductoModalTitle"
      aria-hidden="true"
      style="padding: 50px; margin-top: 50px"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="display: flex; align-self: center">
            <h5 class="modal-title" id="createProductoModalTitle">
              Crear Nuevo Producto
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form
              action="#"
              th:action="@{/productos-submit}"
              th:object="${producto}"
              method="post"
            >
             <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="nombre" class="col-2 col-form-label"
                  >Nombre</label
                >
                <div class="col-8">
                  <input
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    th:field="*{nombre}"
                  />
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="descripcion" class="col-2 col-form-label"
                  >Descripción</label
                >
                <div class="col-8">
                  <input
                    class="form-control"
                    id="descripcion"
                    name="descripcion"
                    th:field="*{descripcion}"
                  />
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="pantalla" class="col-2 col-form-label">Pantalla</label>
                <div class="col-8 align-items-right">
                  <input
                    class="form-control"
                    id="pantalla"
                    name="pantalla"
                    th:field="*{pantalla}"
                  />
                  
                
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="almacenamiento" class="col-2 col-form-label">Almacenamiento</label>
                <div class="col-8">
                  <input
                    class="form-control"
                    id="almacenamiento"
                    name="almacenamiento"
                    th:field="*{almacenamiento}"
                  />
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="ram" class="col-2 col-form-label">RAM</label>
                <div class="col-8">
                  <input
                    class="form-control"
                    id="ram"
                    name="ram"
                    th:field="*{ram}"
                  />
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="sistemaOperativo" class="col-2 col-form-label">Sistema Operativo</label>
                <div class="col-8">
                  <input
                    class="form-control"
                    id="sitemaOperativo"
                    name="sitemaOperativo"
                    th:field="*{sitemaOperativo}"
                  />
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="procesador" class="col-2 col-form-label">Procesador</label>
                <div class="col-8">
                  <input
                    class="form-control"
                    id="procesador"
                    name="procesador"
                    th:field="*{procesador}"
                  />
                </div>
              </div>
              <div class="form-group row" style="display: flex; justify-content: space-between">
                <label for="info" class="col-2 col-form-label">Info: </label>
                <div class="col-8">
                  <input
                    class="form-control"
                    id="info"
                    name="info"
                    th:field="*{info}"
                  />
                </div>
              </div> 
              <div class="modal-footer" style="display: flex; justify-content: space-evenly">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <button type="submit" class="btn btn-success" value="Submit">
                  Guardar cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>