<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-light" style="background-color: #6799f5;">
                <a class="navbar-brand" href="#" style="color: #021e52; margin-left: 30px;"><i class="fa fa-star" aria-hidden="true"></i> Yuri Imura :)</a>
            </nav>
    </header >  
    </body>
</html>
