<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Ecommerce App</title>
        
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    </head>
    <body>
        <!-- HEADER -->
        <div th:insert="fragments/nav :: nav"></div>
        <div class="container" style="min-height: 100vh">
            <!<!-- CONTENEDOR -->
            <div class="text-light" style="background-image: url('https://static.vecteezy.com/system/resources/previews/012/202/120/large_2x/mobile-phone-in-electronic-store-interior-with-customer-abstract-blurred-background-photo.jpg');
                 position: absolute;
                 left: 0;
                 top: 0;
                 opacity: 0.7;
                 z-index: -1;
                 height: 100vh;
                 min-width: 100vw;
                 background-size: cover;">
            </div>
            <!--DIV CENTRAL -->
            <div class="container mt-4" style="background-color: rgba(255, 255, 255, 0.7);
                 display: flex;
                 padding: 15px;
                 flex-direction: column;
                 align-items: center;
                 border-radius: 10px;
                 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                <h1 class="display-3">Aplicación de Comercio Electrónico</h1>
                <p class="lead">El objetivo de este trabajo grupal es desarrollar un panel de control
                    para una aplicación de comercio electrónico utilizando Spring Boot, Spring JPA, 
                    Spring Security, Thymeleaf, Bootstrap y Font Awesome en conjunto con MariaDB. </p>
                <a href="/login-true" class="btn btn-danger btn-lg mt-6">Inicia sesión   <i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
        </div>
        <div th:insert="fragments/footer"></div>
    </body>
</html>