<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    </head>
    <body>
        <nav th:fragment="nav" class="navbar navbar-expand navbar-dark pl-5" style="background-color: #191e57; border-bottom: 2px solid black; padding: 15px">
            <div class="navbar-nav w-100">
                <a class="navbar-brand text-color" href="/"></i>Tienda del Grupo3</a>
            </div>
            <div style="width: 1200px; display: flex; justify-content: space-around">
                <a href="/productos" class="btn btn-success btn-lg mt-6">Stock</a>
                <a href="/admin-panel" class="btn btn-success btn-lg mt-6">Admin Panel</a>
            </div>
        </nav>
    </body>
</html>
