<html>
    <head>
        <title>Nuevo Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    </head>
    <body>
        <!--HEADER-->
        <div th:insert="fragments/nav :: nav" style="margin-bottom: 70px"></div>
        <div id="createProductoModal">
            <div style="display: flex; justify-content: space-evenly;">
                <h3>Create a New User</h3>
            </div>
            <!--NUEVO USUARIO FORM-->
            <div class="container h-100" style="display: flex; flex-direction: column; align-items: center; min-height: 100vh">
                <form
                    action="#"
                    th:action="@{/usuarios-submit}"
                    th:object="${usuario}"
                    method="post"
                    >
                    <div class="form-group row" style="display: flex; justify-content: space-between">
                        <label for="nombre" class="col-2 col-form-label"
                               >Nombre</label
                        >
                        <div class="col-8">
                            <input
                                class="form-control"
                                id="nombre"
                                name="nombre"
                                th:field="*{nombre}"
                                />
                        </div>
                    </div>
                    <div class="form-group row" style="display: flex; justify-content: space-between">
                        <label for="email" class="col-2 col-form-label"
                               >Email</label
                        >
                        <div class="col-8">
                            <input
                                class="form-control"
                                id="email"
                                name="email"
                                th:field="*{email}"
                                />
                        </div>
                    </div>
                    <div class="form-group row" style="display: flex; justify-content: space-between">
                        <label for="contrasena" class="col-2 col-form-label">Contraseña</label>
                        <div class="col-8 align-items-right">
                            <input
                                class="form-control"
                                id="contrasena"
                                name="contrasena"
                                th:field="*{contrasena}"
                                />
                        </div>
                    </div>
                    <div class="modal-footer" style="display: flex; justify-content: space-evenly">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            >
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-success" value="Submit">
                            Guardar cambios
                        </button>
                    </div>
                </form>
            </div>
            <!--FOOTER-->>
            <div th:insert="fragments/footer"></div>
    </body>
</html>
